/schema/db.json
/.vagrant/*
/target/*
/scripts/*
/logs/*
/src/app/db/config.clj
.lein-repl-history
.lein-env
/resources/public/cljs/*
/out/*
/repl/*
/src/genconfig/*
*.log
/src/config/db.clj
/src/config/system.clj
